.react-calendar {
  height:100%;
  width: 100%;
  max-width: 100%;
  background: #fff;
  color: #222;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 100%;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 100%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

/* 10년단위 년도선택 */
.react-calendar__century-view__decades{
  height:720px;
}

/* 1년단위 년도 선택 */
.react-calendar__decade-view__years{
  width: 100%;
  max-width: 100%;
  /* width:1300px; */
  height:720px;
}

/* 달 선택 */
.react-calendar__year-view__months{
  width: 100%;
  max-width: 100%;
  /* width:1300px; */
  height:720px;
}

/* 날짜 나오는 부분 */
.react-calendar__month-view__days{
  height:720px;
  display: flex; 
  flex-wrap: wrap;
}
/* 주말 색 */
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
/* 평일 색 */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
/* 수평 줄 긋기 */
.react-calendar__month-view__days > .react-calendar__tile{
  border-top:0.1px solid #757575;
}

/* 날짜 위치 변경하려구 */
.react-calendar__month-view__days__day > abbr{
  /* float: left; */
  border: 1px solid #a0a096; 
}
.react-calendar__tile {
  border: 1px solid #a0a096;
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align:start;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
/* 날짜에 커서 올렸을 때 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #50bcdf;
}
.react-calendar__tile--now {
  background: #6f48eb33;
  font-weight: bold;
  color: #50bcdf;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  font-weight: bold;
  color: #50bcdf33;
}
.react-calendar__tile--hasActive {
  background: #50bbdf91;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #50bbdf91;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #50bbdf91;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}


.react-calendar__tile--range {
  background: #f8f8fa;
  color: #50bcdf33;
  border-radius: 0;
 }
 .react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #50bcdf33;
  color: white;
 }
 .react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #50bcdf33;
  color: white;
 }